@using MVC_Cursos.Models
@model Autor


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Autor - Page</title>
</head>
<body>
    <h1>Create Autor</h1>
    <form method="post">
        <input asp-for="Name"/>
        <input type="submit" name="save" value="Save" />
    </form>
</body>
</html>