@model MVC_Cursos.ViewModels.AutorViewModel.AutorIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Autors</h1>
    <h2>@Model.AutorCurrentMessage</h2>
    <table>
        @foreach (var autor in Model.Autors)
        {
            <tr>
                <td>@autor.id</td>
                <td>@autor.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@autor.id">MORE</a>
                </td>
            </tr>
        }
    </table>
    <a asp-action="Create" asp-controller="Autor">CREATE</a>
</body>
</html>