@model MVC_Cursos.Models.Course

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Title</h1>
    <table>
        <tr>
            <td>@Model.id</td>
            <td>@Model.Title</td>
            <td>
                <a asp-action="Index" asp-controller="Course">HOME</a>
            </td>
        </tr>

    </table>
</body>
</html>