@model MVC_Cursos.ViewModels.CourseViewModel.CourseDetailsModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Details - Course</title>
</head>
<body>
    <h1>Course Id: @Model.id - Title: @Model.Title</h1>
    <div>Autor Id: @Model.idAutor</div>
    <div>Course Tecnology: @Model.TecnologyCourse</div>
    <div>
        <a asp-action="Index" asp-controller="Course">HOME</a>
    </div>
</body>
</html>