@using MVC_Cursos.Models
@model Trainee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create - Trainee Page</title>
</head>
<body>
    <h1>Create Trainee</h1>
    <form method="post">
        <input asp-for="Name" />
        <input type="submit" name="save" value="Save" />
    </form>
</body>
</html>
